/* CSS Document */

body {
	margin:0px;
	padding:0px;
	font-family:Verdana, Geneva, "Microsoft Yahei", sans-serif;
	font-size:12px;
	line-height:16px;
}

a {
	color: #1C79C8;
	text-decoration:none;
}

a img {
	border:none;
}

#header {
	background-color: #FFFFFF;
	border-bottom: 1px solid #d4d4d4;
	background-image: -webkit-linear-gradient(top, #fff, #f2f2f2);
}
#header a {
	color: #FFFFFF;
}

#header .logo {
	font-size: 28px;
	line-height:32px;
	color: #474d57;
	font-weight:bold;
	text-shadow: 0 1px 2px rgba(0,0,0,.4), 0 0 30px rgba(255,255,255,.075);
}
#header .frame {
	width:1024px;
	margin:0px auto;
	padding:16px 0px;
	clear:both;
	overflow:hidden;
}

#footer {
	height: 64px;
	background-image: -webkit-linear-gradient(top, #f2f2f2, #fff);
	border-top: 1px solid #d4d4d4;
	line-height: 32px;
}

#footer .frame {
	width:1024px;
	margin:0px auto;
	padding:0px 0px;
	font-weight:bold;
}

#background {
	height:100%;
	width:100%;
	background-color:#CCCCCC;
	background:-webkit-gradient(linear, 0 0, 0 bottom, from(rgba(39, 102, 143, 1)), to(rgba(81, 109, 126, 1)));  
	position:fixed; _position:absolute;
	top:0;left:0;
	display:none;
}

#notice {
	position:absolute;
	top:50%;left:50%;
	margin:-150px 0 0 -200px;
	width:400px;
	height:300px;
	background-color:#FFFFFF;
	border:#F0F0F0 1px solid;
	box-shadow: 1px 1px 12px #000000;
	display:none;
}

#notice_close {
	height:24px;
	width:24px;
	line-height:24px;
	text-align:center;
	font-size:18px;
	font-weight:bold;
	position:absolute;
	top:2px;
	right:2px;
	
	background-color:#CCCCCC;
	border:1px solid #999999;
	cursor:pointer;
}

#notice_title {
	padding: 0 10px;
	height: 31px;
	border-top: 1px solid #FFF;
	border-bottom: 1px solid #CCCCCC;
	background: #F2F2F2;
	line-height: 31px;
	white-space: nowrap;
	overflow: hidden;
	font-weight:bold;
	font-size:13px;
}

#copyright {
}


#navigator {
	height:32px;
	line-height:32px;
	
}
#navigator .frame {
	width:1000px;
	margin:0px auto;
	padding:0px 12px;
	background-color: #F1F1F1;
}
#navigator span {
	padding:0px 12px;
	font-size:14px;
	color: #1C79C8;
	font-weight:bold;
}
#navigator a {
	color: #1C79C8;
	font-weight:bold;
	text-decoration:none;
}

#bodyer {
	width:1000px;
	margin:12px auto;
	overflow:hidden;
	padding:8px;
	border: 1px solid #CCC;
	box-shadow: 0 0 0 4px #f1f1f1;
}

#bodyer_left {
	float:left;
	width:400px;
}
#bodyer_right {
	float:right;
	width:584px;
}

.toolbox {
	border: 1px solid #CDCDCD;
	margin-bottom:12px;
}
.toolbox_title {
	padding: 0 10px;
	height: 31px;
	border-top: 1px solid #FFF;
	border-bottom: 1px solid #C2D5E3;
	background: #F2F2F2;
	line-height: 31px;
	white-space: nowrap;
	overflow: hidden;
	font-weight:bold;
	font-size:13px;
}
.toolbox_description {
	padding:8px 6px;
}

.toolbox_block {
	padding:12px;
}

#machines {
	font-family:Consolas, "Courier New", Courier, monospace
}

#machines input[type=text] {
	font-family:Consolas, "Courier New", Courier, monospace
}

.machine {
	background-color: #F1F1F1;
	padding:16px;
	margin-bottom:8px;
	overflow:hidden;
}
.machine:hover {
	background-color: #EEEEEE;
}

.machine label, .machine_new label {
	display:inline-block;
	width:72px;
	text-align:right;
}

.machine_basic {
	float:left;
}

.machine_roles {
	float:left;
	padding:0px 24px;
}

.machine_role span {
	display:inline-block;
	width:128px;
}

.machine_list_roles {

}

#statscic_roles {
	border-collapse:collapse;
	margin:4px 4px 12px 4px;
}

#statscic_roles td , #statscic_roles th {
	border:1px solid #CCCCCC;
	padding:4px 12px;
}

.statscic_roles_line {
	color: #444444;
}